<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <article>
            <form action="/login" method="POST">
                <p>
                    Please enter your email and password
                </p>
                <p>
                    <input type="text" name="email" placeholder="Email" class="Username">
                    <input type="password" name="password" placeholder="Password" class="password">
                </p>
                <p>
                    <button type="submit" class="log-in-button">Log in</button>
                </p>
            </form>
        </article>
    </div>
</body>

</html>
