{{ define "title" }}Problems List{{ end }}

{{ define "content" }}
<section class="problem-list">
    <h2>Problem List</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Problem Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Problems }}
            <tr>
                <td><a href="/edit/{{ .Id }}">{{ .Id }}</a></td>
                <td>{{ .Title }}</td>
                <td>
                    {{ if eq .Status "Draft" }}
                    <form action="/manage-problems/update" method="POST" style="display:inline;">
                        <input type="hidden" name="id" value="{{ .Id }}">
                        <input type="hidden" name="status" value="Published">
                        <button type="submit" class="publish">Make Publish</button>
                    </form>
                    {{ else if eq .Status "Published" }}
                    <form action="/manage-problems/update" method="POST" style="display:inline;">
                        <input type="hidden" name="id" value="{{ .Id }}">
                        <input type="hidden" name="status" value="Draft">
                        <button type="submit" class="draft">Make Draft</button>
                    </form>
                    {{ end }}
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</section>
{{ end }}
