{{ define "title" }}Problems List{{ end }}

{{ define "content" }}
<section class="problem-details">
    <h2>{{ .ProblemTitle }}</h2>
    <div class="problem-info">
        <table>
            <tbody>
                <tr>
                    <th>Problem ID</th>
                    <td>{{ .ProblemId }}</td>
                </tr>
                <tr>
                    <th>Time Limit</th>
                    <td>{{ .ProblemTimeLimit }} ms</td>
                </tr>
                <tr>
                    <th>Memory Limit</th>
                    <td>{{ .ProblemMemoryLimit }} MB</td>
                </tr>
                {{ if .IsClientAdmin }}
                <tr>
                    <th>Admin</th>
                    <td>{{ .ClientUsername }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        <div class="problem-statement">
            <h3>Problem Statement</h3>
            <p>{{ .ProblemStatement }}</p>
        </div>
    </div>
</section>
{{ end }}
