<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ template "title" . }}</title>
        <link rel="stylesheet" href="/static/global_style.css">
        {{ if eq .Page "profile" }}
        <link rel="stylesheet" href="/static/profile_style.css">
        {{ end }}
        {{ if eq .Page "problems" }}
        <link rel="stylesheet" href="/static/problems_style.css">
        {{ end }}
        {{ if eq .Page "problem" }}
        <link rel="stylesheet" href="/static/problem_style.css">
        {{ end }}
        {{ if eq .Page "add-problem" }}
        <link rel="stylesheet" href="/static/add_problem_style.css">
        {{ end }}
        {{ if eq .Page "my-problems" }}
        <link rel="stylesheet" href="/static/my_problems_style.css">
        {{ end }}
        {{ if eq .Page "edit-problem" }}
        <link rel="stylesheet" href="/static/edit_problem_style.css">
        {{ end }}
        {{ if eq .Page "manage-problems" }}
        <link rel="stylesheet" href="/static/manage_problems_style.css">
        {{ end }}
        {{ if eq .Page "problem" }}
        <link rel="stylesheet" href="/static/problem_style.css">
        {{ end }}
        {{ if eq .Page "submit" }}
        <link rel="stylesheet" href="/static/submit_style.css">
        {{ end }}


    </head>
    <body>
        <!-- Header Section -->
        <header class="site-header">
            <nav>
                <ul>
                    <li><a href="/profile/{{ .ClientUsername }}">My Profile</a></li>
                    <li><a href="/problems">Published Problems</a></li>
                    <li><a href="/add-problem">Add Problem</a></li>
                    <li>
                        {{ if .IsClientAdmin }}
                        <a href="/manage-problems">Manage Problems</a>
                        {{ else }}
                        <a href="/my-problems">My Problems</a>
                        {{ end }}
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Main Content -->
        <main>
            {{ template "content" . }}
        </main>

        <!-- Footer Section -->
        <footer class="site-footer">
            <p>&copy; 2025 My Website. All rights reserved.</p>
        </footer>
    </body>
</html>
